
<div th:fragment="navbar">
<link rel="stylesheet" th:href="@{/css/dropdown.css}">
	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary sticky-top">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button data-mdb-collapse-init class="navbar-toggler" type="button"
				data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Navbar brand -->
				<a class="navbar-brand mt-2 mt-lg-0" href="#">
					<img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
						alt="MDB Logo" loading="lazy" />
					<small>PAYING GUEST</small>
				</a>

				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-1 mb-lg-0">

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-primary btn-rounded" data-mdb-ripple-init>
							<i class="fas fa-house-chimney-user me-2"><a style="color: white;" aria-current="page"
									href="/adminHome"></i>Home</a></button>
					</li>

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-success btn-rounded" data-mdb-ripple-init>
							<a style="color: white;" aria-current="page" href="/addLocation">
								<i class="fas fa-location-dot me-2"></i>Add Location</a></button>
					</li>
					
					<li class="nav-item">
						<div class="paste-button">
							<button class="button"><a style="color: white;" aria-current="page">
							<i class="fas fa-user-group me-2"></i> CUSTOMERS</a>&nbsp;▼</button>
							<div class="dropdown-content">
								<a id="top" href="/ownersList"><i class="fas fa-right-to-bracket me-2"></i> OWNERS <i class="fas fa-users"></i></a>
								<a id="bottom" href="/usersList"><i class="fas fa-right-to-bracket me-2"></i> USERS <i class="fas fa-users"></i></a>
							</div>
						</div>

					</li>

					<!--<li class="nav-item">
						<button type="button" class="btn m-1 btn-secondary btn-rounded" data-mdb-ripple-init>
							<a style="color: black;" aria-current="page" href="#">
								<i class="fas fa-hotel me-2"></i>Add Pg</a></button>
					</li>-->
					
					<!--<li class="nav-item">
						<button type="button" class="btn m-1 btn-danger btn-rounded" data-mdb-ripple-init>
							<a style="color: white;" aria-current="page" href="#">
								<i class="fas fa-trash-arrow-up me-2"></i>Remove Pg</a></button>
					</li>-->
					
				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->

			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Avatar -->
				<small class="text-info fs-5" style="font-weight: bold; margin-right: 3px;">ADMIN</small>

				<div class="dropdown">
					<a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
						id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
						
						<i class="fas fa-circle-user fa-3x"></i>
						
						<!--<img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="40"
							alt="Black and White Portrait of a Man" loading="lazy" />-->
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
						<!--<li>
							<a class="dropdown-item text-warning" href="#">
								<i class="fas fa-user-group me-2"></i>Customers
							</a>
							
						</li>-->
						<li>
							<a class="dropdown-item text-success" href="/locationsList">
								<i class="fas fa-list-ul me-2"></i>Locations List
							</a>
						</li>
						
						<li>
							<a class="dropdown-item text-danger" href="/home">
								<i class="fas fa-arrow-right-to-bracket me-2"></i>Logout 
						    </a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Right elements -->
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</div>