<!DOCTYPE html>
<html>

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/pg.css}">
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>
</head>

<body>

	<th:block th:insert="~{/owner/navbar :: navbar}"></th:block>


	<div class="container my-0 p-0">
		<h1 class="text-center">Edit PG Profile</h1>

		<div class="successMsg" th:if="${not #strings.isEmpty(successMsg)}">
			<h2 style="font-weight: bold;" class="text-center text-light fs-5" th:text="${successMsg}"></h2>
		</div>

		<form class="col-md-6 offset-md-3.5" th:action="@{/savePg}" th:object="${pg}" method="post"
			enctype="multipart/form-data">

			<input type="hidden" name="id" th:value="${pg.id}" />
			<div class="mb-3">
				<label for="name" class="form-label">Name</label>
				<input type="text" class="form-control" name="name" th:value="${pg.name}" required>
			</div>
			<div class="mb-3">
				<label for="location" class="form-label">Location</label>
				<input type="text" class="form-control" name="location" th:value="${pg.location}" required>
			</div>
			<div class="mb-3">
				<label for="area" class="form-label">Area</label>
				<input type="text" class="form-control" name="area" th:value="${pg.area}" required>
			</div>
			
			
			<div class="mb-3">
				<label for="outsideImages" class="form-label">Outside Images</label>
				<input type="file" class="form-control" name="outsideImages" accept="image/jpeg, image/png" multiple
					required>
			</div>
			<div class="mb-3">
				<label for="insideImages" class="form-label">Inside Images</label>
				<input type="file" class="form-control" name="insideImages" accept="image/jpeg, image/png" multiple
					required>
			</div>
			<div class="mb-3">
				<label for="rulesImage" class="form-label">Rules Image</label>
				<input type="file" class="form-control" name="rulesImage" th:value="${pg.rulesImage}"
					accept="image/jpeg, image/png" required>
			</div>
			<div class="mb-3">
				<label for="rentCard" class="form-label">Rent Card</label>
				<input type="file" class="form-control" name="rentCard" th:value="${pg.rentCard}"
					accept="image/jpeg, image/png" required>
			</div>
			<div class="mb-3">
				<label for="boardImage" class="form-label">Board Image</label>
				<input type="file" class="form-control" name="boardImage" th:value="${pg.boardImage}"
					accept="image/jpeg, image/png" required>
			</div>
			
			
			<div class="mb-3">
				<label for="phno" class="form-label">Phone Number</label>
				<input type="text" class="form-control" name="phno" th:value="${pg.phno}" required>
			</div>
			<div class="mb-3">
				<label for="maps" class="form-label">Maps</label>
				<input type="text" class="form-control" name="maps" th:value="${pg.maps}" required>
			</div>

			<div class="mb-3">
				<label for="address" class="form-label">Address</label>
				<input type="text" class="form-control" name="address" th:value="${pg.address}" required>
			</div>

			<center>
				<button type="submit" class="btn btn-primary rounded">Submit</button>
			</center>
		</form>
	</div>

	<div th:replace="~{/fragments/footer :: footer}"></div>

	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>
</body>

</html>