<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Owner SignUp</title>
	<link rel="stylesheet" th:href="@{/css/adminLogin.css}">
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>
</head>

<body class="owner">
	<th:block th:replace="~{/fragments/navbar :: navbar}"></th:block>
	<div class="main">

		<form class="form-1" action="/ownerSignup" method="post">
			<h1 style="text-align: center; font-weight: bold; color: ghostwhite;">OWNER SIGNUP</h1>


			<div class="inputForm">
				<input placeholder="Enter your UserName" name="name" class="input" type="text" required />
			</div>

			<div class="inputForm">
				<input placeholder="Enter your Email" name="email" class="input" type="email" required />
			</div>

			<div class="password" th:if="${not #strings.isEmpty(password)}">
				<h6 style="font-weight: bold;" class="text-center text-warning fs-10" th:text="${password}"></h6>
			</div>

			<div class="inputForm">
				<input placeholder="Enter your Password" name="password" class="input" type="password" required />
			</div>


			<div class="inputForm">
				<input placeholder="Enter your Phone Number" name="phno" class="input" type="text" required />
			</div>

			<button type="submit" class="button-submit">Signup</button>
			<p class="p">Already have an account? <a class="link" href="/ownerLogin">Login</a></p>

		</form>

	</div><br><br>

	<div class="container">
		<div class="card mx-auto mt-4" style="max-width: 500px;">
			<div class="card-body">
				<h2 class="card-title text-center" style="color: black; font-weight: bold;">Password Requirements</h2>
				<ul class="list-group">
					<li class="list-group-item text-center">Should be 5-16 characters.</li>
					<li class="list-group-item text-center">At least 1 capital letter.</li>
					<li class="list-group-item text-center">At least 1 special character.</li>
					<li class="list-group-item text-center">At least 1 digit.</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>
</body>

</html>