<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/adminLogin.css}">
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>
</head>

<body class="owner">
	<th:block th:replace="~{/fragments/navbar :: navbar}"></th:block>
	<div class="main">

		<form class="form-1" action="/ownerSignup" method="post">
			<h1 style="text-align: center; font-weight: bold; color: ghostwhite;">OWNER SIGNUP</h1>

			
			<div class="inputForm">
				<input placeholder="Enter your UserName" name="name" class="input" type="text" required/>
			</div>

			<div class="inputForm">
				<input placeholder="Enter your Email" name="email" class="input" type="email" required/>
			</div>

			
			<div class="inputForm">
				<input placeholder="Enter your Password" name="password" class="input" type="password" required/>
			</div>
			
			
			<div class="inputForm">
				<input placeholder="Enter your Phone Number" name="phno" class="input" type="text" required/>
			</div>

			<button type="submit" class="button-submit">Signup</button>
			<p class="p">Already have an account? <a class="link" href="/ownerLogin">Login</a></p>

		</form>


		<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
		<script type="text/javascript" src="/js/all.min.js"></script>
	</div>
</body>

</html>