<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Forgot Password</title>
	
	<link rel="stylesheet" th:href="@{/css/userLogin.css}">
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>
</head>

<body>
	<th:block th:insert="~{/fragments/navbar :: navbar}"></th:block>
	
	<div class="main2">
	
		<div class="container-1">
			<div class="heading">FORGOT PASSWORD</div>

			<div class="errorMsg" th:if="${not #strings.isEmpty(errorMsg)}">
				<h2 style="font-weight: bold;" class="text-center text-danger fs-5" th:text="${errorMsg}"></h2>
			</div>
			
			<div class="successMsg" th:if="${not #strings.isEmpty(successMsg)}">
				<h2 style="font-weight: bold;" class="text-center text-success fs-5" th:text="${successMsg}"></h2>
			</div>
			
			<form action="/userForgotPass" class="form2" method="post">
				<input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
				<input class="login-button" type="submit" value="Login">
			</form>
			

		</div>

	</div>
	
	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>
</body>

</html>