<div th:fragment="navbar">

	<!-- Navbar -->
	<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button data-mdb-collapse-init class="navbar-toggler" type="button"
				data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<!-- Navbar brand -->
				<a class="navbar-brand mt-2 mt-lg-0" href="#">
					<img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
						alt="MDB Logo" loading="lazy" />
					<small>PAYING GUEST</small>
				</a>

				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-1 mb-lg-0">

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-warning btn-rounded" data-mdb-ripple-init>
							<i class="fas fa-house-chimney-user"><a style="color: white;" aria-current="page"
									href="/userHome"></i>Home</a></button>
					</li>

					<!--<li class="nav-item">
						<button type="button" class="btn m-1 btn-secondary btn-rounded" data-mdb-ripple-init>
							<a style="color: black;" aria-current="page" href="#"><i class="fas fa-user ml-1"></i>
								Profile</a></button>
					</li>-->

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-success btn-rounded" data-mdb-ripple-init>
							<a style="color: white;" aria-current="page" href="/searchPg"><i
									class="fas fa-magnifying-glass-location ml-1"></i>Search Pg</a></button>
					</li>

				</ul>
				<!-- Left links -->
			</div>
			<!-- Collapsible wrapper -->

			<!-- Right elements -->
			<div class="d-flex align-items-center">

				<!-- Avatar -->
				<div class="dropdown">
					<a data-mdb-dropdown-init class="dropdown-toggle d-flex align-items-center hidden-arrow" href="#"
						id="navbarDropdownMenuAvatar" role="button" aria-expanded="false">
						<img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="40"
							alt="Black and White Portrait of a Man" loading="lazy" />
					</a>
					<ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
						<li>
							<a class="dropdown-item text-success" href="#">Profile
								<i class="fas fa-user ml-1"></i>
							</a>
						</li>
						
						<li>
							<a class="dropdown-item text-primary" href="#">Edit profile <i
									class="fas fa-pen-to-square"></i></a>
						</li>

						<li>
							<a class="dropdown-item text-danger" href="/home">Logout <i
									class="fas fa-arrow-right-to-bracket"></i></a>
						</li>
					</ul>
				</div>
			</div>
			<!-- Right elements -->
		</div>
		<!-- Container wrapper -->
	</nav>
	<!-- Navbar -->
</div>