<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>PGs List</title>
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>

</head>

<body>
	<th:block th:insert="~{/user/navbar :: navbar}"></th:block>

	<h1 class="text-center">LIST OF PGS</h1>

	<!-- First Card-->
	<div th:each="pg : ${pgs}">
		<div class="card mb-3">
			<div class="row g-0">

					<div class="col-md-4">
						<img th:src="'data:image/jpeg;base64,' + ${pg.boardImage}" class="profile-image rounded-circle"
							alt="profile" style="max-width: 100px; max-height: 100px;">
					</div>

				<div class="col-md-8">
					<div class="card-body">
						<h5 class="card-title text-center text-warning">
							<p th:text="${pg.name}"></p>
						</h5>
						<h6><p class="card-text" th:text="${pg.location}"></h6>
						</p>
						<p>Whether you're a tenant looking for a welcoming environment to call home or a landlord
							seeking to
							connect with tenants who share your values, Paying Guest is here to facilitate those
							connections. Join our community today and experience the power of connection.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="~{/fragments/footer :: footer}"></div>

	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>

</body>

</html>