<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>PGs List</title>
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>

	<style>
		body {
			background-image: url("/images/background7.jpg");
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
		}

		.custom-card {
			border: 1px solid #ced4da;
			box-shadow: black;
			border-radius: 50px;
			max-width: 1100px;
			margin: 0 auto;
			margin-bottom: 10px;

		}
	</style>

</head>

<body>
	<th:block th:insert="~{/user/navbar :: navbar}"></th:block>

	<h1 class="text-center text-light">LIST OF PGS</h1>

	<div class="container-fluid  justify-content-center">
		<!-- Loop through objects and generate cards -->
		<div th:each="pg : ${pgs}" class="col-md-14 mt-2">
			<div class="card custom-card">
				<div class="card-body text-center">

					<h4 style="font-weight: bold; color: black;"><span th:text="${pg.name}"></span></h4>
					<h6>Location: <span class="text-warning" th:text="${pg.location}"></span></h6>
					<h6>Address: <span class="text-info" th:text="${pg.address}"></span></h6>
					<a th:href="@{/viewPg/{id}(id=${pg.id})}" class="btn btn-primary btn-rounded"><i
							class="fas fa-eye me-1"></i>View Pg</a>
				</div>
			</div>
		</div>
		
	</div>

	<div th:replace="~{/fragments/footer :: footer}"></div>

	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>

</body>

</html>