<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/userLogin.css}">
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>
</head>

<body>
	<th:block th:replace="~{/fragments/navbar :: navbar}"></th:block>

	<div class="main">

		<div class="container-1">
			<div class="heading">USER SIGNUP</div>
			<form action="/userSignup" class="form2" method="post">
				
				<input required="" class="input" type="text" name="name" id="name" placeholder="UserName">
				
				<input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
				
				<p class="text-center text-danger" style="position: relative; top: 15px; font-weight: bold;"
					th:text="${password}"><i class="fas fa-arrow-turn-down"></i></p>
					
				<!--<i class="fas fa-arrow-right-from-bracket me-2"></i>
				<label for="name" class="form-label">Scroll down for Password Requirements </label>
				-->
				<input required="" class="input" type="password" name="password" id="password" placeholder="Password">
				
				<input required="" class="input" type="text" name="phno" id="phno" placeholder="Mobile No">
				
				<input class="login-button" type="submit" value="Sign In">
				
				<span class="forgot-password">Already have an account? <a href="/userLogin">LOGIN</a></span>

			</form>
		</div>
	</div>
	<div class="container">
		<div class="card mx-auto mt-4" style="max-width: 500px;">
			<div class="card-body">
				<h2 class="card-title text-center" style="color: black; font-weight: bold;">Password Requirements</h2>
				<ul class="list-group">
					<li class="list-group-item text-center">Should be 5-16 characters.</li>
					<li class="list-group-item text-center">At least 1 capital letter.</li>
					<li class="list-group-item text-center">At least 1 special character.</li>
					<li class="list-group-item text-center">At least 1 digit.</li>
				</ul>
			</div>
		</div>
	</div>

	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>
</body>

</html>