<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="ISO-8859-1">
	<title>Insert title here</title>
	<link rel="stylesheet" th:href="@{/css/userLogin.css}">
	<th:block th:insert="~{/fragments/bootstrap :: bootstrapLinks}"></th:block>
</head>

<body>
	<th:block th:replace="~{/fragments/navbar :: navbar}"></th:block>
	
	<div class="main2">

		<div class="container-1">
			<div class="heading">USER LOGIN</div>

			<div class="errorMsg" th:if="${not #strings.isEmpty(errorMsg)}">
				<h2 style="font-weight: bold;" class="text-center text-danger fs-5" th:text="${errorMsg}"></h2>
			</div>

			<div class="successMsg" th:if="${not #strings.isEmpty(successMsg)}">
				<h2 th:text="${successMsg}"></h2>
			</div>


			<form action="/userLogin" class="form2" method="post">
				<input required="" class="input" type="email" name="email" id="email" placeholder="E-mail">
				<input required="" class="input" type="password" name="password" id="password" placeholder="Password">
				<input class="login-button" type="submit" value="Login">
				<span class="forgot-password">Create an account? <a href="/userSignup">SIGNUP</a></span> <br><br>
				<span class="forgot-password1"><a href="#">Forgot Password ?</a></span>

			</form>
		</div>
	</div>
	<script type="text/javascript" src="/js/mdb.umd.min.js"></script>
	<script type="text/javascript" src="/js/all.min.js"></script>
</body>

</html>