<!-- Features of website-->
<div th:fragment="features">
	<h1 class="text-center" style="color: black; font-weight: bolder; font-family: 'Courier New', Courier, monospace;">
		KEY FEATURES
	</h1>

	<div class="container d-flex">
		<div class="row">
			<div class="col-md-3">
				<div class="card rounded">
					<img src="/images/connectPeople.jpg" class="d-block w-100 h-100" alt="connectPeople" />
					<div class="card-body">
						<h5 class="card-title text-center text-warning">Connect People</h5>
						<p class="card-text">At Paying Guest, we believe in fostering connections between individuals to
							create vibrant communities. Our platform goes beyond just providing accommodation - it's
							about
							bringing people together, sharing experiences, and building friendships that last a
							lifetime.
						</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card rounded">
					<img src="/images/customerSupport1.jpg" class="d-block w-100" height="175px" alt="book" />
					<div class="card-body">
						<h5 class="card-title text-center text-danger">Customer Support</h5>
						<p class="card-text">At Paying Guest, we prioritize providing exceptional customer support to
							ensure
							a seamless experience for our users. Our dedicated support team is available to assist you
							with
							any inquiries, concerns, or issues you may encounter while using our platform.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card rounded">
					<img src="/images/saveTime.jpg" class="d-block w-100 h-100" alt="book" />
					<div class="card-body">
						<h5 class="card-title text-center text-success">Save Time</h5>
						<p class="card-text">Find your perfect paying guest accommodation quickly and easily with Paying
							Guest. Our streamlined search process and comprehensive listings save you time, so you can
							focus
							on what matters most. It will reduce your time to find better one.</p>
					</div>
				</div>
			</div>
			<div class="col-md-3">
				<div class="card rounded">
					<img src="/images/search.jpg" class="d-block w-100 h-100" alt="book" />
					<div class="card-body">
						<h5 class="card-title text-center text-primary">Easy Search</h5>
						<p class="card-text">Easily find the perfect PG accommodation by searching for specific titles
							on
							our platform. Whether you're looking for a cozy single room or a shared apartment, our
							comprehensive search functionality allows you to quickly browse through a variety of PG
							options.
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>