<!-- Navbar -->
<div th:fragment="navbar" class="sticky-top">
	<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
		<!-- Container wrapper -->
		<div class="container-fluid">
			<!-- Toggle button -->
			<button data-mdb-collapse-init class="navbar-toggler" type="button"
				data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<i class="fas fa-bars"></i>
			</button>

			<!-- Collapsible wrapper -->
			<div class="collapse navbar-collapse" id="navbarSupportedContent">

				<!-- Left links -->
				<ul class="navbar-nav me-auto mb-1 mb-lg-0">

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-secondary btn-rounded" data-mdb-ripple-init
							style="background-color: coral;">
							<a style="color: white;" aria-current="page" href="/adminLogin">ADMIN</a></button>
					</li>

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-secondary btn-rounded" data-mdb-ripple-init>
							<a style="color: black;" aria-current="page" href="/ownerLogin"></i>OWNER</a></button>
					</li>

					<li class="nav-item">
						<button type="button" class="btn m-1 btn-success btn-rounded" data-mdb-ripple-init>
							<a style="color: white;" aria-current="page" href="/userLogin">USER</a></button>
					</li>


				</ul>
				<!-- Left links -->

			</div>
			<!-- Collapsible wrapper -->

			<!-- Right elements -->
			<div class="d-flex align-items-center">
				<!-- Navbar brand -->
				<a class="navbar-brand mt-2 mt-lg-0" href="#">
					<img src="https://mdbcdn.b-cdn.net/img/logo/mdb-transaprent-noshadows.webp" height="15"
						alt="MDB Logo" loading="lazy" />
					<small>PAYING GUEST</small>
				</a>
			</div>
			<!-- Right elements -->

		</div>
		<!-- Container wrapper -->
	</nav>
</div>
<!-- Navbar -->