<div th:fragment="slides">

	<div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel" data-mdb-carousel-init>
		<div class="carousel-inner">

			<div class="carousel-item active">
				<img src="/images/building1.jpg" class="d-block w-100" style="height: 565px;" alt="Pg building" />
			</div>

			<div class="carousel-item">
				<img src="/images/building4.jpg" class="d-block w-100" style=" height: 565px;" alt="Pg building" />
			</div>

			<div class="carousel-item">
				<img src="/images/building5.jpg" class="d-block w-100" style="height: 565px;" alt="Pg building" />
			</div>

			<div class="carousel-item">
				<img src="/images/building8.jpg" class="d-block w-100" style="height: 565px;" alt="Pg building" />
			</div>

			<div class="carousel-item">
				<img src="/images/building7.jpg" class="d-block w-100" style="height: 565px;" alt="Pg building" />
			</div>

		</div>

		<button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls"
			data-mdb-slide="prev">
			<span class="carousel-control-prev-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Previous</span>
		</button>

		<button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls"
			data-mdb-slide="next">
			<span class="carousel-control-next-icon" aria-hidden="true"></span>
			<span class="visually-hidden">Next</span>
		</button>

	</div>

	<!-- Description of website-->
	<h1 class="text-center" style="color: black; font-weight: bolder; font-family: 'Courier New', Courier, monospace;">
		PAYING GUEST
	</h1>

	<div class="container justify-content align-items-center text-center" style="font-weight: bold;">
		<p>
			The "Paying Guest" website is a platform designed to help individuals find paying guest accommodations in
			various cities. Whether you're a student, working professional, or someone in need of temporary
			accommodation,
			Paying Guest offers a seamless solution to your housing needs.
		</p>
		<p>
			Our platform simplifies the process of finding paying guest accommodations by allowing users to search based
			on
			location and area. With a wide range of listings and detailed information about each paying guest
			accommodation,
			you can easily compare options and make an informed decision.
		</p>
		<p>
			For paying guest owners, Paying Guest provides a user-friendly interface to list their accommodations and
			manage
			their properties efficiently. Owners can create detailed listings, update availability, and communicate with
			potential tenants through the platform.
		</p>
		<p>
			Whether you're looking for a single room, shared accommodation, or hostel-style living, Paying Guest has
			options
			to suit your preferences and budget. Our goal is to provide a convenient and reliable platform for
			individuals
			to find safe and comfortable accommodations in cities across the country.
		</p>
		<p>
			Start your search for the perfect paying guest accommodation today and enjoy hassle-free living with Paying
			Guest!
		</p>
	</div>

	<!-- KEY FEATURES-->

	<h1 class="text-center" style="color: black; font-weight: bolder; font-family: 'Courier New', Courier, monospace;">
		KEY FEATURES
	</h1>

	<!-- First Card-->
	<div class="card mb-3">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="/images/connectPeople.jpg" alt="connect people"
					class="img-fluid rounded-start d-block w-100 h-100 rounded" />
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-center text-warning">Connect People</h5>
					<p class="card-text">At Paying Guest, we believe in fostering connections between individuals to
						create vibrant communities. Our platform goes beyond just providing accommodation - it's
						about
						bringing people together, sharing experiences, and building friendships that last a
						lifetime.
					</p>
					<p>Whether you're a tenant looking for a welcoming environment to call home or a landlord seeking to
						connect with tenants who share your values, Paying Guest is here to facilitate those
						connections. Join our community today and experience the power of connection.</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Second Card-->
	<div class="card mb-3">
		<div class="row g-0">

			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-center text-danger">Customer Support</h5>
					<p class="card-text">At Paying Guest, we prioritize providing exceptional customer support to
						ensure
						a seamless experience for our users. Our dedicated support team is available to assist you
						with
						any inquiries, concerns, or issues you may encounter while using our platform.</p>
				</div>
			</div>
			<div class="col-md-4">
				<img src="/images/customerSupport1.jpg" alt="customer Support"
					class="img-fluid rounded-start d-block w-100 h-100 rounded" />
			</div>
		</div>
	</div>

	<!-- Third Card-->
	<div class="card mb-3">
		<div class="row g-0">
			<div class="col-md-4">
				<img src="/images/saveTime.jpg" alt="Save Time"
					class="img-fluid rounded-start d-block w-100 h-100 rounded" />
			</div>
			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-center text-success">Save Time</h5>
					<p class="card-text">Find your perfect paying guest accommodation quickly and easily with Paying
						Guest. Our streamlined search process and comprehensive listings save you time, so you can
						focus
						on what matters most. It will reduce your time to find better one.
						With our advanced search filters, you can specify your preferences based on location, area,
						amenities, and more. Our platform provides real-time updates on available accommodations,
						ensuring that you never miss out on the perfect opportunity.

						With our advanced search filters, you can specify your preferences based on location, area,
						amenities, and more. Our platform provides real-time updates on available accommodations,
						ensuring that you never miss out on the perfect opportunity.
					</p>
				</div>
			</div>
		</div>
	</div>

	<!-- Fourth Card-->
	<div class="card mb-3">
		<div class="row g-0">

			<div class="col-md-8">
				<div class="card-body">
					<h5 class="card-title text-center text-warning">Easy Search</h5>
					<p class="card-text">At Paying Guest, we believe in fostering connections between individuals to
						create vibrant communities. Our platform goes beyond just providing accommodation - it's
						about
						bringing people together, sharing experiences, and building friendships that last a
						lifetime.

						Searching for the perfect paying guest (PG) accommodation has never been easier with Paying
						Guest website. Our intuitive search functionality allows you to quickly find PG accommodations
						tailored to your needs.

						Start your search for the perfect PG accommodation today and experience the convenience of
						finding your home away from home with Paying Guest!
					</p>
				</div>
			</div>

			<div class="col-md-4">
				<img src="/images/search.jpg" alt="Search"
					class="img-fluid rounded-start d-block w-100 h-100 rounded" />
			</div>
		</div>
	</div>