body {
	background-image: url("/images/background4.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.main {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -10px;
}

.main2{
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 10px;
}

.errorMsg h2{
	font-weight: bold;
	text-align: center;
	color: red;
	font-size: 15px;
}

.successMsg h2 {
	font-weight: bold;
	text-align: center;
	color: green;
	font-size: 15px;
}

.container-1 {
	max-width: 450px;
	background: #F8F9FD;
	background: linear-gradient(0deg, rgb(255, 255, 255) 0%, rgb(244, 247, 251) 100%);
	border-radius: 40px;
	padding: 20px ;
	border: 2px solid rgb(255, 255, 255);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 30px 30px -20px;
	margin: 20px;
}

.heading {
	text-align: center;
	font-weight: 900;
	font-size: 30px;
	color: rgb(16, 137, 211);
}

.form2 {
	margin-top: 20px;
}

.form2 .input {
	width: 100%;
	background: white;
	border: none;
	padding: 15px 20px;
	border-radius: 20px;
	margin-top: 15px;
	box-shadow: #cff0ff 0px 10px 10px -5px;
	border-inline: 2px solid transparent;
}

.form2 .input::-moz-placeholder {
	color: rgb(170, 170, 170);
}

.form2 .input::placeholder {
	color: rgb(170, 170, 170);
}

.form2 .input:focus {
	outline: none;
	border-inline: 2px solid #12B1D1;
}

[type] {
	font-size: large;
	font-weight: bold;
}

.form2 .forgot-password {
	display: inline;
	justify-content: center;
	align-items: center;
	position: relative;
	top: 5px;
	left: 80px;
	bottom: 20px;
	font-size: large;

}

.form2 .forgot-password1 {
	display: inline;
	justify-content: center;
	align-items: center;
	position: relative;
	top: -5px;
	left: 120px;
	font-size: large;

}

.form2 .forgot-password a,
.form2 .forgot-password1 a {
	font-size: 15px;
	color: #0099ff;
	text-decoration: none;
	font-size: large;

}

.form2 .login-button {
	display: block;
	width: 100%;
	font-weight: bold;
	background: linear-gradient(45deg, rgb(16, 137, 211) 0%, rgb(18, 177, 209) 100%);
	color: white;
	padding-block: 15px;
	margin: 20px auto;
	border-radius: 20px;
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 20px 10px -15px;
	border: none;
	transition: all 0.2s ease-in-out;
}

.form2 .forgot-password:hover a,
.form2 .forgot-password1:hover a {
	font-size: large;
	font-weight: bold;
}

.form2 .login-button:hover {
	transform: scale(1.03);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 23px 10px -20px;
	cursor: pointer;
}

.form2 .login-button:active {
	transform: scale(0.95);
	box-shadow: rgba(133, 189, 215, 0.8784313725) 0px 15px 10px -10px;
}